*,
body {
  margin: 0;
  box-sizing: border-box;
}

/* modal setting */
.modalBack {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: -20;
}
.modalWindow {
  position: absolute;
  top: 32%;
  left: 34%;
  height: 110px;
  width: 350px;
  z-index: -30;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  padding-top: 2%;
  font-weight: 50em;
}

nav {
  /* background-image: linear-gradient(to left, rgb(210, 227, 252), white); */

  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

/* company name in big font */
#nameComp {
  font-family: "Lilita One", cursive;
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
}

/* brand and logo style start */
.brand {
  display: flex;
  align-items: center;
}
/* brand and logo style end */

.menu {
  margin: 2%;
  height: 23px;
  width: 30px;
  color: yellow;
}

/* search box styling start */
#srch {
  margin: 3%;
  border: 0.5px solid rgb(213, 226, 230);
  height: 1.4em;
  width: 40%;
  text-align: center;
  transition: width 0s 1s;
  border-radius: 3px;
}

#srch:focus,
#srch:hover {
  outline: none;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 2px;
}
/* search box styling end */

/* all buttons outline remove start */
.btn {
  border: none !important;
  background-color: white;
}
.btn:focus {
  outline: none !important;
  border: 0;
}

/*  button end */

/* menu buttons style start */
.menuBtn a {
  position: relative;
  transition: all 2s ease-in-out 0.5s;
}

.menuBtn a:focus {
  bottom: 10px;
}
/* menu buttons style end */

/* corousal style */
.carousel {
  height: 20%;
}

/* user Details styling start */
.usrIcon {
  height: 20px;
  width: 30px;
  /* margin: 7px 10px; */
}

#userName,
#userOtions a {
  font-family: "Arsenal", sans-serif;
  font-family: "Lilita One", cursive;
  font-family: "Open Sans", sans-serif;
}

#userIcn {
  width: 30%;
}

#userOptions {
  position: absolute;
  z-index: 10;
  width: 7%;
  list-style-type: none;
  padding-left: 10px;
  color: white;
  font-weight: 10rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgba(94, 91, 81, 0.8);
  padding-left: 0px;
  visibility: hidden;
  /* background: black; */
}
#userOptions li {
  text-align: center;
  border-bottom: 0.5px solid white;
  cursor: pointer;
}
#userOptions li a,
.modalWindow button a {
  text-decoration: none;
  color: white;
}
/* #userOptions li:hover {
  background-color: rgba(94, 91, 81, 1);
} */
/* user Details styling end */
