/* company name in big font */
#nameComp {
  font-family: "Lilita One", cursive;
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
}

/* brand and logo style start */
.brand {
  display: flex;
  align-items: center;
}
/* brand and logo style end */

.menu {
  margin: 2%;
  height: 23px;
  width: 30px;
  color: yellow;
}

/* search box styling start */
#srch {
  margin: 3%;
  border: 0.5px solid rgb(213, 226, 230);
  height: 1.4em;
  width: 40%;
  text-align: center;
  transition: width 0s 1s;
  border-radius: 3px;
}

#srch:focus,
#srch:hover {
  outline: none;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 2px;
}
/* search box styling end */

/* all buttons outline remove start */
.btn {
  border: none;
  background-color: white;
}
.btn:focus {
  outline: none;
}

/*  button end */

.menuBtn {
  position: relative;
  transition: all 2s ease-in-out 0.5s;
}

.menuBtn:focus {
  bottom: 10px;
}

.carousel {
  height: 20%;
}
